/*
* === VARIABLES ===
*/
:root {
  --color-teal: #1FA898;
  --color-orange: #e58552;
  /* dark scheme (what if analysis) colors */
  --color-dark-statusbar: black;
  --color-dark-appbar: #212121;
  --color-dark-background: #303030;
  --color-dark-cards: #424242;
  --color-dark-text: white;
  /* light scheme (for real data) colors */
  --color-light-background: #f5f5f5;
  --color-light-cards: white;
  --color-light-text: black;
}

/*
* === MEDIA ===
*/
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .row {
    display:flex;
  }

  [class*="col-"] {
    width: flex: 1;
  }
}

body {
  font: 10px sans-serif;
  margin: 0;
  overflow: auto;
  height: 100%;
  width: 100%;
}
main { }
header { background-color: var(-color--teal); }

.title {
  background-color: var(--color-teal);
  text-align: center;
  padding: 0.15em;
  color:  var(--color-dark-text);
}
.bottom-bar {
  background-color: #1FA898;
  text-align: center;
  padding: 1em;
}

h1 {font-family: 'Comfortaa', sans-serif; font-size: 4em;}
h2 {font-family: 'Comfortaa', sans-serif; font-size: 2.5em;}
h3 {font-family: 'Comfortaa', sans-serif; }
h4 {font-family: 'Comfortaa', sans-serif; }
h5 {font-family: 'Comfortaa', sans-serif; }
h6 {font-family: 'Comfortaa', sans-serif; }
p {font-family: 'Comfortaa', sans-serif; font-size: 2em; line-height: 1.5}

a {font-family: 'Comfortaa', sans-serif; position: relative; text-decoration: none;}
a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: var(--color-orange);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a:hover{
  cursor: pointer;
}

/* */
.panel {
  float:left;
  text-align: center;
  height: inherit;
}
/* */
.panel.real { background-color: var(--color-light-background);}
.panel.what-if { background-color: var(--color-dark-background); }

/* card that contains info for  */
.card {
  padding: 1em;
  margin: 3em auto;
  width: 90%;
  text-align: center;
}
/* change drop shadow opacity for both light and dark scheme */
.card.real {background-color: var(--color-light-cards); box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);}
.card.what-if { background-color: var(--color-dark-cards); box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);}

/* opening text (will eventually be links) */
a.opener{font-size: 7em; font-weight:700;top:40%;}
a.opener.real { color: var(--color-light-text)}
a.opener.what-if { color: var(--color-dark-text)}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  text-align: left;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 2em;
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
  color: var(--color-light-text);
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
